<section class="bg-second">
  <div class="container form-section">
    <div class="form-box">
      <div class="text-section">
        <h2>Seja um <br />Voluntário</h2>
        <p class="subtext">
          Ajude-nos a apoiar e cuidar de animais necessitados
        </p>
      </div>

      <form>
        <label>Nome</label>
        <input type="text" placeholder="Digite seu nome..." />
        <label>Email</label>
        <input type="email" placeholder="Coloque seu email" />
        <button type="submit" class="btn-secondary">Seja Voluntário</button>
      </form>
    </div>
  </div>
</section>
