<header>
  <a href=""><img [src]="LogoPath" alt="Logo GPAI" class="logo-header" /></a>
  <div class="header">
    <nav aria-label="primaria">
      <ul class="header-menu">
        <li><a href="">Inicio</a></li>
        <li><a href="">Sobre</a></li>
        <li>
          <a href="">Formas de ajudar <span>↓</span></a>
        </li>
        <li><a href="">Galeria</a></li>
        <li><a href="">Campanha</a></li>
        <li><a href="">Contatos</a></li>
        <button class="btn-main" app-button>Faça uma Doação</button>
      </ul>
    </nav>
  </div>
</header>
