<div class="container section">
  <div class="image-area">
    <img class="main-img" src="template/image3.png" alt="Gato na grama" />
    <div class="thumbs">
      <img src="template-about/image4.png" alt="Gato 2" />
      <img src="template-about/image5.png" alt="Gato 3" />
      <img src="template-about/image6.png" alt="Gato 4" />
    </div>
  </div>
  <div class="text-area">
    <h2>Nossa História</h2>
    <p>
      Criada em 6 de março de 2015, a GPAI nasceu do amor e da vontade de
      proteger os animais em situação de risco. Desde então, temos atuado em
      divulgações de adoção de animais em nossas redes sociais e ações
      educativas, levando informação sobre o controle populacional e os perigos
      da injeção anticoncepcional em pets. Nosso trabalho é guiado pelo respeito
      à vida e pela construção de um futuro mais digno para todos os animais.
    </p>
    <p>
      Ao longo dos anos, nossa trajetória tem sido marcada por importantes
      conquistas, ações educativas que conscientizam a população sobre a
      importância do bem-estar animal. Cada iniciativa é um passo a mais rumo a
      um mundo onde os animais são tratados com o respeito e o cuidado que
      merecem.
    </p>
    <button class="btn-main" app-button>Saiba Mais</button>
  </div>
</div>

<div class="icon-section">
  <div class="icon-box">
    <img src="circle/bulldog.svg" alt="Cachorro ícone" />
    <strong>10</strong>
    <span>Anos</span>
  </div>

  <div class="icon-box">
    <img src="circle/cat.svg" alt="Gato ícone" />
    <strong>+ 45.000</strong>
    <span>Castrações</span>
  </div>
</div>
